html, body, #grid-container, #mapcontainer {
  height: 100%;
  margin: 0;
}

body {
  background-color: #F5F5F5;
}

#grid-container {
  display: grid;
  grid-template-rows: 9% 91%; /* divide screen into header and content */
  transition: margin-left .5s;
}

/* Try grid-container::before to put opaque cover on grid-container on load, then remove on click 'Explore' button */

a:visited {
  color: #5D3FD3; /*color for links in 'About' menu */
}

#mapcontainer {
  flex-grow: 1;
  grid-row-start: 2;
  transition: margin-left .5s;
}

#header {
  text-align: center;
  position: fixed;
  margin-left: 10px;
  color: #585858;
  font-size: 7vh; /* make font size dynamic for different heights of header */
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

#sidenav-buttons {
  position: fixed;
  top: 9%;
  left: 250px;
  z-index: 1;
  transition: left .5s;
}

/* The navigation menu links */
#sidenav-buttons button {
  display: block;
}

/* Hover control for buttons - hide/show different text span classes */
#sidenav-buttons button .onhover {
  display: none;
}
#sidenav-buttons button:hover .original {
  display: none;
}
#sidenav-buttons button:hover .onhover {
  display: inline;
}

.sidenav-button { /* style menu buttons */
  border-radius: 0px 30px 30px 0px;
  background-color: gray;
  font-style: italic;
  color: white;
  font-size: 14px;
  padding-right: 8px;
  border-width: 0.5px;
  margin-top: 4px;
  border-left-width: 0px;
}

.sidenav-button:focus {
  outline:0; /* removes default button highlighting */
}

.sidenav-button-active {
  background-color: #111; /* same as background color for sidenav menu */
}

/* The side navigation menu - originally hidden*/
#sidenav-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with jquery */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 9%; /* Position 9% from top of screen to account for header */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#sidenav-menu p {
  width: 250px; /* Keeps the width of the text fixed to get rid of 'text squishing' effect on transition */
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: justify;
}

/* Position and style the close button (top left corner) */
.closebtn {
  top: 0;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-left: 15px;
}

.closebtn:hover {
  color: #f1f1f1;
  text-decoration: none;
}

#map-controls {
  top: 10%;
  right: 20px;
  width: 300px;
  position: fixed;
  z-index: 1; /* places controls on top of map container */
  transition: right .5s;
}

#map-controls::before {
  content: "";
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 10px;
}

.map-controls-content {
  position: relative; /* places content inside the map controls on top of partly transparent background */
  padding: 15px;
}

#active-month{
  margin-top: 0;
  padding-left: 10px;
}

#slider-month {
  margin-bottom: 0px;
}

#upper-range-limit {
  float: right;
}

#lower-range-limit {
  float: left;
}

#upper-range-limit, #lower-range-limit {
  font-weight: bold;
}

#range-filter-content {
  position: relative;
  padding: 15px;
  color: #808080;
}

#refresh-button {
  margin-top: 0px;
}

.ui-slider:hover {
  cursor: pointer;
}

.ui-slider-handle:hover {
  cursor: pointer;
}

.ui-slider-handle {
  outline: none;
}

/* The trendline - originally hidden*/
#line-chart-div {
  width: 0; /* 0 width - change this with jquery */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  bottom: 0; /* Position at the bottom of the page */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* disable vertical scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the chart */
}

#chartclosebtn { /* to absolutely position this button, which was previously styled with .closebtn class */
  position: absolute;
  margin-top: -5px;
  margin-left: 550px;
  z-index: 3;
}

.mapboxgl-popup-close-button {
  font-weight: 600;
  font-size: 16px;
}

.mapboxgl-popup-close-button:focus { /* removes default button highlight on popup open */
  outline: 0;
}

.legend-station-color { /* style subway line circles in legend menu */
  height: 25px;
  width: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 2px;
}

.legend-station-color-yellow { /* black font in yellow lines */
  height: 25px;
  width: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 2px;
}
