html, body, #grid-container, #mapcontainer {
  height: 100%;
  margin: 0;
}

#grid-container {
  display: grid;
  grid-template-rows: 10% 90%; /* divide screen into header and content */
  transition: margin-left .5s;
}

#sidenav-buttons {
  position: fixed;
  top: 10%;
  left: 250px;
  z-index: 1;
  transition: left .5s;
}

/* The navigation menu links */
#sidenav-buttons button {
  display: block;
}

/* Hover control for buttons */
#sidenav-buttons button .onhover {
  display: none;
}

#sidenav-buttons button:hover .original {
  display: none;
}

#sidenav-buttons button:hover .onhover {
  display: inline;
}

/* The side navigation menu - originally hidden*/
#sidenav-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with jquery */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10%; /* Position 10% from top of screen to account for header */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#sidenav-menu p {
  width: 250px; /* Keeps the width of the text fixed to get rid of 'text squishing' effect on transition */
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.closebtn {
  top: 0;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.closebtn:hover {
  color: #f1f1f1;
  text-decoration: none;
}

#legend-controls {
  top: 10%;
  left: 400px;
  position: fixed;
  z-index: 1; /* places controls on top of map container */
  transition: left .5s;
}

#legend-controls::before {
  content: "";
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 10px;
}

.legend-controls-content {
  position: relative; /* places content inside the map controls on top of partly transparent background */
  padding: 15px;
}

#active-month{
  margin-top: 8px;
  padding-left: 40px;
}

#slider-month {
  margin-bottom: 10px;
}

#upper-range-limit {
  float: right;
}

#lower-range-limit {
  float: left;
}

#upper-range-limit, #lower-range-limit {
  font-weight: bold;
}

#range-filter-content {
  position: relative;
  padding: 15px;
  color: #808080;
}

#refresh-button {
  margin-top: 20px;
}

#mapcontainer {
  flex-grow: 1;
  grid-row-start: 2;
}

.ui-slider:hover {
  cursor: pointer;
}

.ui-slider-handle:hover {
  cursor: pointer;
}

.ui-slider-handle {
  outline: none;
}
